<section id="professionaljourney" class="professionaljourney">
  <h1 class="section-title">PROFESSIONAL JOURNEY</h1>

  <!-- Education -->
  <div class="subsection">
    <h2 class="subsection-title">Education</h2>
    <div class="education__grid">
      <a href="https://www.kth.se/" target="_blank" class="education__card">
        <img src="assets/kth_logo.png" alt="KTH" class="education__logo" />
        <div class="education__info">
          <h3>KTH Royal Institute of Technology</h3>
          <p>M.Sc. in Industrial Management & Product Development</p>
          <p class="education__desc">
            Developed a strong understanding of product development, project
            coordination and how to drive innovation in tech-focused teams.
          </p>
        </div>
      </a>

      <a href="https://chasacademy.se/" target="_blank" class="education__card">
        <img
          src="assets/chas_academy_logo.png"
          alt="Chas Academy"
          class="education__logo"
        />
        <div class="education__info">
          <h3>Chas Academy</h3>
          <p>Fullstack Web Developer – Open Source</p>
          <p class="education__desc">
            Solid foundation in fullstack development with hands-on experience
            in Angular, React, Node.js, and Laravel. Skilled in building dynamic
            web apps using TypeScript, JavaScript, and PHP, along with databases
            like MySQL and MongoDB. Trained in Agile workflows and modern
            development tools like Git, Docker, and RESTful APIs.
          </p>
        </div>
      </a>
    </div>
  </div>

  <!-- Experience -->
  <div class="subsection">
    <h2 class="subsection-title">Experience</h2>
    <div class="experience__grid">
      <a href="https://www.onelab.se/" target="_blank" class="experience__card">
        <img
          src="assets/onelabse_logo.png"
          alt="OneLab"
          class="experience__logo"
        />
        <div class="experience__content">
          <h3>OneLab</h3>
          <p class="experience__role">Sales Executive – B2B SaaS Solutions</p>
          <p class="experience__desc">
            Helped companies improve employee well-being by offering digital
            health tools and smart SaaS services. Gained experience working with
            tech teams and fast-growing environments.
          </p>
        </div>
      </a>

      <a
        href="https://www.hemplybalance.com/"
        target="_blank"
        class="experience__card"
      >
        <img
          src="assets/hemply_balance_logo.png"
          alt="Hemply Balance"
          class="experience__logo"
        />
        <div class="experience__content">
          <h3>Hemply Balance</h3>
          <p class="experience__role">
            Sales Exocutive – E-commerce & Retail Expansion
          </p>
          <p class="experience__desc">
            Led sales strategy and built partnerships for a growing Swedish
            health & wellness brand. Helped scale the business from 1 to over
            100 resellers, combining e-commerce growth with strong brand
            presence.
          </p>
        </div>
      </a>

      <a href="https://www.benify.se/" target="_blank" class="experience__card">
        <img
          src="assets/benify_logo.png"
          alt="Benify"
          class="experience__logo"
        />
        <div class="experience__content">
          <h3>Benify</h3>
          <p class="experience__role">Sales Consultant – SaaS Platform</p>
          <p class="experience__desc">
            Worked in a fast-paced SaaS company serving over 800k users.
            Developed a strong understanding of digital platforms and customer
            experience.
          </p>
        </div>
      </a>

      <a href="https://www.ibm.com/" target="_blank" class="experience__card">
        <img src="assets/ibm_logo.png" alt="IBM" class="experience__logo" />
        <div class="experience__content">
          <h3>IBM</h3>
          <p class="experience__role">Sales Intern – IBM Global Financing</p>
          <p class="experience__desc">
            Supported B2B financing solutions, gained insight into large tech
            organization.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
